* {margin:0 auto;padding:0}
body {font:12px Verdana, Arial, Helvetica, sans-serif;background:#fff;text-align:center;color:#fff}
.twoColElsRtHdr #container {width:800px;background:#4697b8;margin:0 auto;text-align:left}
.fleft {float:left}
.fright {float:right}
.fclear {clear:both}
.inner_copy, .inner_copy a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
a {color:#fff}
a:hover {color:#fff}
h1 {font-size:24px}
h2 {font-size:18px}
p {padding-bottom:10px}
/* header layout  */
.twoColElsRtHdr #header {padding:0 20px;height:80px}
.twoColElsRtHdr #logo_cont {float:left;width:300px;padding-top:20px}
.logo {font-family:'Minion Pro', 'times New Roman';line-height:1em;font-size:24px;color:#fff;font-weight:bold}
.logo1 {color:#d0cdc4}
.tollfree_cont {margin:0 0 0 500px;padding-top:10px}
.tollfree {background:url(../images_default/contact.png) no-repeat left;padding:18px 18px 18px 55px;color:#fff;font-size:20px}
/* menu  */
#menu {padding:0;height:50px;margin:0 21px 0 21px;background:#766a52}
#menu ul {margin:0;padding:0;list-style:none}
#menu li {padding:0;margin:0;display:inline;list-style:none}
#menu li a {font:bold 13px "trabuchet ms", Arial, Helvetica, sans-serif;display:block;list-style:none;float:left;margin:2px 2px 0 2px;padding:12px 25px 18px 25px;color:#333;border-right:1px solid #d1d1cf;text-decoration:none;cursor:pointer}
#menu li a:hover {color:#fff;background:url(../images_default/menubg.jpg) repeat-x}
#menu li.current a {color:#fff;background:url(../images_default/menubg.jpg) repeat-x}
/* Sidebar  */
.twoColElsRtHdr #sidebar1 {float:right;width:220px;padding:15px 20px 15px 5px}
.twoColElsRtHdr #sidebar1 h3, .twoColElsRtHdr #sidebar1 p {margin-left:10px;margin-right:10px}
/* Main_Content  */
.twoColElsRtHdr #mainContent {margin:10px 250px 0 20px}
.top_cont {border-bottom:1px solid #a4c6eb;margin-bottom:10px}
.left_cont {width:260px;float:left;border-right:1px solid #a4c6eb;padding-right:5px}
.right_cont {margin-left:285px}
.linkright a {line-height:2em;color:#fff;text-decoration:underline}
.linkright a:hover {color:#fff;text-decoration:none}
/* Footer  */
.twoColElsRtHdr #footer {padding:0 20px;background:#4697b8;text-align:center}
.twoColElsRtHdr #footer p {margin:5px 0 0 0;padding:20px 0}
.fltrt {float:right;margin-left:8px}
.fltlft {float:left;margin-right:8px}
.clearfloat {clear:both}


/* slideshow */
.twoColElsRtHdr #slideshow {margin:0px 250px 5 20px}
#slideshow_slides {
    width: 760px;
    height: 204px;
    overflow: hidden;
    position: relative;
}
#slideshow_slides img {
    width: 760;
    height: 204px;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    opacity: 0;
    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
}

#slideshow_slides img:target {
    left: 0;
    z-index: 9;
    opacity: 1;
}
#slideshow_slides img:first-child {
    left: 0;
    opacity: 1;
}

#slideshow_buttons {
    width: 760px;
    height: 16px;
    overflow: hidden;
}
#slideshow_buttons a {
    text-decoration: none;
    background: #E3F1FA;
    border: 1px solid #C6E4F2;
    padding: 4px 6px;
    color: #222;
}
#slideshow_buttons a:hover {
    background: #C6E4F2;

